<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectionstringEF" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EFParkBeheer;Integrated Security=True;MultipleActiveResultSets=true"/>
	</connectionStrings>
	<appSettings>
		<add key="EFlayer" value="EF"/>
	</appSettings>
</configuration>